@font-face {
  font-family: newAwesom;
  src: url(Inconsolata-VariableFont_wdth,wght.ttf);
}
i{
  color: #cb3f0e;
}
html{
  font-family: newAwesom;
  background: whitesmoke;
  color: #cb3f0e;
}
a{
  text-decoration: none;
  color: black;
}
hr{
  background: grey;
}
#container{
  position: relative;
  display: flex;
}
#profile{
  flex: 15%;
  display: block;
  position: relative;
  margin: 1% 0% 0 18%;
  width: 100%;
  height: 100%;
}
#info-cards{
  flex: 55%;
  display: block;
  margin-top: 1%;
  width: 100%;
  height: 100%;
}
#image{
  position: relative;
  overflow: hidden;
}
#image,#profile-photo{
  position: relative;
  width: 215px;
    height: 212px;
    border-radius: 93px;
  
}
#image > a{
  position: absolute;
  top:0;
  left:0;
  background: rgba(0,0,0,0.5) !important;
  height: 100%;
  width: 100%;
  display: none;
}
#image > a > i{
 /* -webkit-text-stroke: 1px #ffffffdd;*/
  padding: 40%;
}
#image:hover a{
  display: block;
}
#name{
  font-size: 23px !important;
  line-height: 20px !important;
}
#about,.card > ul > li{
  padding: 0 0 0 15px;
  position: relative;
  display: inline-block;
  width: 100%;
}
#about{
  font-size: 20px !important;
  padding: 0 !important;
}
#name, #about > p{
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}
#email{
  font-size: 15px !important;
  font-weight: bold !important;
  font-family: 'Cutive Mono',monospace;
}
#college,#email,#year-graduation,#education,#more-about,#telephone,#fax{
  color: #803218;
  font-size: 13.5px;
}
strong,span{
  
  font-size: 16px;
}
#social-links,#about{
  display: inline-block;
}
#social-links{
  margin-bottom: 12px;
  margin-top: 33px;
}
#social-links a{
  margin: 0 10px;
}
#edit-intro{
  display: block;
  color: #cb3f0e;
  font-family: 'Nunito', sans-serif;
}

#about > a{
  top: 4px;
  right: 8px;
}
.edit{
  top: 19px;
  right: 10px;
}
#about > a, .edit{
  position: absolute;
  font-size: 15px !important;
}

.blue{
  /*color: #097bbf !important;*/
  font-size: 13px;
}

.showbox {
  /*float: left; */
  /* margin: 4em 1em; */
  width: 100px;
  height: 60px;
  /* border: 2px solid green; */
  /* background-color: #fff; */
  line-height: 60px;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .showbox.slideright:hover {
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
  }



.card{
  width: 64%;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  overflow-x: hidden;
  margin-left: 8%;
  padding: 2px 3px 2px 18px;
  background-color: #fff;
}
.card > p{
  color:#a5583e;
  font-weight: bolder;
  font-size: 18px;
  line-height: 2;
}
.card > p > i{
  font-size: 18px;
}
.card > a{
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-left: 25px;
  padding: 0;
  border: 0;
  height: auto;
  background: transparent;
  color: #097bbf;
  outline: none;
  cursor: pointer;
}
.card > ul{
  list-style-type: none;
}
.tags{
  font-size: 17px;
  font-weight: bolder;
}
.tags ~ a{
  display: none !important;
}
.tags span{
  font-size: 14px;
  font-weight: normal;
  color: #803218;
}
.tags span span{
  color: #738f93;
}
@media screen and (max-width:1090px){
  #profile{
      margin-left: 5%;
  }
}
@media screen and (max-width:850px){
  #container{
      display: block;
  }
  #profile{
      width: 90%;
  }
  .card{
      margin: 0 5%;
      margin-bottom: 30px;
  }
}